[Unit]
Description=hal.codes
After=syslog.target

[Service]
User=hal
WorkingDirectory=/home/hal/hal.codes/
RestartSec=2s
ExecStart=/home/hal/hal.codes/.build/release/Run

[Install]
WantedBy=multi-user.target