[Unit]
Description=hal.codes
After=syslog.target

[Service]
WorkingDirectory=/home/hal/hal.codes/
RestartSec=2s
ExecStart=/home/hal/hal.codes/.build/release/Run

ProtectSystem=yes
ProtectHome=read-only
ProtectKernelTunables=yes
ProtectKernelModules=yes
ProtectControlGroups=yes
PrivateDevices=yes
NoNewPrivileges=yes

[Install]
WantedBy=multi-user.target