@font-face {
	font-family: 'Iosevka';
	font-weight: 400;
	src: url('iosevka-ss09-regular.woff2') format('woff2'),
			 url('iosevka-ss09-regular.ttf') format('truetype');
}
@font-face {
	font-family: 'BasierSquare';
	font-weight: 700;
	font-style: normal;
	src: url('basiersquare-bold-webfont.eot');
	src: url('basiersquare-bold-webfont.eot?#iefix') format('embedded-opentype'),
			 url('basiersquare-bold-webfont.woff2') format('woff2'),
			 url('basiersquare-bold-webfont.woff') format('woff'),
			 url('basiersquare-bold-webfont.ttf') format('truetype');
}
@font-face {
	font-family: 'PlexSans';
	font-style: italic;
	font-weight: 400;
	src: url('ibmplexsans-italic.woff2') format('woff2'),
			 url('ibmplexsans-italic.ttf') format('truetype');
}
@font-face {
	font-family: 'PlexSans';
	font-style: normal;
	font-weight: 400;
	src: url('ibmplexsans-regular.woff2') format('woff2'),
			 url('ibmplexsans-regular.ttf') format('truetype');
}
