$break-tablet: 1200px;
$break-mobile: 688px;
$break-mobile-small: 320px;

@mixin desktop {
  @media screen and (min-width: $break-tablet) {
    @content;
  }
}

@mixin tablet {
  @media screen and (max-width: $break-tablet) {
    @content;
  }
}

@mixin mobile {
  @media screen and (max-width: $break-mobile) {
    @content;
  }
}

@mixin mobile-small {
  @media screen and (max-width: $break-mobile-small) {
    @content;
  }
}